@charset "UTF-8";

table {
	margin-top : 20px;
	width: 100%;
	font-size: 18px;
}

table th {
	text-align: right;
}
table td {
	vertical-align: middle;
}

.modifyInfo-form {
	margin: 10px;
}

table .inputSize{
	width: 300px;
	height: 40px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.genreName{
	display:inline-block;
	width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.imgBox {
	border: 2px solid grey;
	width: 150px;
	height: 150px; 
	border-radius: 30%;
	overflow: hidden;
	margin: 10px;
}

table img {
	width: 150px;
	height: 150px; 
	object-fit: cover;
}
.modifyBtn {
	background-color: #d3af71;
	width: 100px;
	height: 40px;
	color: white;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid #d3af71;
}

.modifyBtn:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}