@charset "UTF-8";


#passwd{
	width: 300px;
	height: 40px;
}

#changePw {
	background-color: #d3af71;
	width: 100px;
	height: 40px;
	color: white;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid #d3af71;
}

#changePw:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}